

:root {
    --color-primary: #002626;
    --color-secondary: #F0F7EE;
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: "Helvetica", sans-serif;
    --font-heading: "Merriweather", serif;
    --font-size: 1.125rem;
    --line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
  
  h1 {
    margin-bottom: calc(var(--space) * 3);
    font-family: var(--font-heading);
    font-size: calc(var(--font-size) + 6vmin);
    line-height: calc(var(--line-height) / 1.25);
  }
  
  .main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  .main-navigation-toggle + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
  
  .icon--menu-toggle {
    --size: calc(1rem + 4vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    stroke-width: 6;
  }
  
  .icon-group {
    transform: translateX(0);
    transition: transform var(--nav-duration) var(--ease);
  }
  
  .icon--menu {
    stroke: var(--color-secondary);
  }
  
  .icon--close {
    stroke: var(--color-secondary);
    transform: translateX(-100%);
  }
  
  .main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    z-index: 1;
  }
  .main-navigation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 58);
    transform-origin: 0 50%;
    z-index: -1;
  }
  .main-navigation ul {
    font-size: 12vmin;
    font-family: var(--font-heading);
    width: 100%;
  }
  .main-navigation li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .main-navigation li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-size);
    background-color: rgb(255, 255, 255);
    transform-origin: 0 50%;
    transform: translateX(-100%) skew(15deg);
  }
  .main-navigation a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
  
  .main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 calc(var(--space) * 2);
    transform: translateX(0);
    transition: transform calc(var(--nav-duration) * 2) var(--ease);
  }
  .main-content > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
  
  .main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
  }
  .main-navigation-toggle:checked ~ .main-content {
    transform: translateX(10%);
  }
  .main-navigation-toggle:checked ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
  }
  .main-navigation-toggle:checked ~ .main-navigation:after {
    animation: nav-bg var(--nav-duration) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation li:after {
    animation: nav-line var(--duration) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation a {
    animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
    animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
    animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
    animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
    animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
  }
  
  @keyframes nav-bg {
    from {
      transform: translateX(-100%) skewX(-15deg);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes nav-line {
    0% {
      transform: scaleX(0);
      transform-origin: 0 50%;
    }
    35% {
      transform: scaleX(1.001);
      transform-origin: 0 50%;
    }
    65% {
      transform: scaleX(1.001);
      transform-origin: 100% 50%;
    }
    100% {
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }
  }
  @keyframes link-appear {
    0%, 25% {
      transform: translateY(100%);
    }
    50%, 100% {
      transform: translateY(0);
    }
  }


.soustitres{
    margin: auto 35px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.soustitres:hover{
    font-style: bold;
    transition: 0.4s;
    font-size: 2.5em;
    text-decoration: underline;
}

body{
    background-color: rgb(4, 255, 16);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.footer-distributed {
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin: 0px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}



.footer-distributed .footer-left {
  float: left;
}



.footer-distributed h3 {
  color: #000000;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif
  margin: 0 0 10px;
}

.footer-distributed h3 span {
  color: #5383d3;
}



.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  color: #ff0000;
}

.footer-distributed .footer-company-name {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}



.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 0px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}

@media screen and (max-width: 800px) {
    #images{
       flex-direction:column !important;
    }
}

::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.footer-distributed {
  background: rgb(201, 201, 201);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin: 0px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


.footer-distributed .footer-left {
  float: left;
}



.footer-distributed h3 {
  color: #000000;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif
  margin: 0 0 10px;
}

.footer-distributed h3 span {
  color: #5383d3;
}


.footer-distributed .footer-links {
  color: #ff5100;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  color: #ff6600;
}

.footer-distributed .footer-company-name {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}


.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #ffffff;
}

.footer-distributed ::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #f7fcff;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}


@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 0px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}

#bande1{
    height: 65vh;
    background-image: url("./ddm_porsche_993_carrera_rs_protojoe_znm_silver_18_11_59.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


#bande2{
    background-color: #ffffff;
    height: 180vh;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

#titre{
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

#images{
    height: 700px;
    background-image: url("./AdobeStock_305771107.jpeg");
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#bande3{
    background-color: rgb(56, 56, 56);
    height: 70vh;
}


div{
    width: 100%;
    text-align: center;
}

html {
  scroll-behavior: smooth;
  
}

#baniere{
    height: 1000px;
    width:100%;
}
     
#baniere_gauche{
    width:50%;
    height:100%;
    float:left;
    background-color: rgb(56, 56, 56);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    padding-right: 2%;
    padding-left: 2%;
}

     
#baniere_droite{
    width:50%;
    height:100%;
    float: right;
    background-color: rgb(133, 133, 133);
    background-image: url("./TP11Serre3.jpg");
}

@media screen and (max-width: 800px) {
    #images, #bande1{
       flex-direction:column !important;
    }
}

@media screen and (max-width: 800px) {
    #bande3, #bande2{
       flex-direction:column !important;
    }
}

@media screen and (max-width: 800px) {
    #baniere_gauche, #baniere{
       flex-direction:column !important;
    }
}